
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="about-section">
  <h1>About FILMS</h1>
  <p>FILMS is a trusted recommendation resources for quality entertainment.</p>
  <p>We provide fans with a comprehensive guide to what’s Fresh - and what’s Unpleasnt - in theaters and at home.</p>
</div>


<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/img/88.jpg" alt="Noura" style="width:100%">
      <div class="container">
        <h2>Noura Al Hamadi</h2>
        <p class="title">CEO & Founder</p>
        <p>Noura is 27 years old women who lives and breathes anything entertainment related. She started this serivce as a side job but later on turned into her full-time job.</p>
        <p>NouraAlH55@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/img/66.jpg" alt="Sara" style="width:100%">
      <div class="container">
        <h2>Sara AlMarzooqi</h2>
        <p class="title">Art Director</p>
        <p>Sara has been working in the filming for the past 15 years achieving nothing but excellence. Sara is creative illustrator with a really strong background in adverstising, printing and production.</p>
        <p>SaraAlM6@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/img/11.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Smith</h2>
        <p class="title">Designer</p>
        <p>Jhon is a highly creative and multitalented Graphic Designer with extensive experience in multimedia. With 6+ years in handling several simultaneous creative design projects.</p>
        <p>JhonDesign5@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
