
<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <h1><b><i><u>FILMS</u></i></b></h1>
  <p><b><i>Your number one movies platform!</i></b></p>
</div>


<div class="row">
  <div class="side">
    <h2><i><u>Recommendations:</u></i></h2>
    <p style="font-size: 17 px" align="center";><i>Top rated film based on our users votes!</i></p>
    <div class="fakeimg" style="height:200px;"><img src="12.jpg" width="270" height="170" class="center"  > </div>
    <p><i>Due to Arnold's recent debut in his new film, he rightfully claimed this month's spot.</i></p>
    <h2><u><i>Rating:</i></u></h2>
    <p align="center";><i>Rate your film right here!</i></p>
    <div class="fakeimg" style="height:60px;"><img src="2.jpg" width="220" height="60" class="center"  ></div><br>
    <div class="fakeimg" style="height:60px;"><img src="22.jpg" width="220" height="60" class="center"  ></div><br>
    <div class="fakeimg" style="height:60px;"><img src="4.jpg" width="220" height="60" class="center"  ></div><br>
    <div class="fakeimg" style="height:60px;"><img src="99.jpg" width="220" height="60" class="center"  ></div><br>
    <div class="fakeimg" style="height:60px;"><img src="100.jpg" width="220" height="60" class="center"  ></div>
  </div>
  <div class="main">
    <h2><i><u>TERMINATOR GENSIS</u></i></h2>
    <h5><b><i>When John Connor, leader of the human resistance, sends Sgt. Kyle Reese back to 1984 to protect Sarah Connor and safeguard.</i></b></h5>
    <div class="fakeimg" style="height:200px;"><img src="33.jpg" width="220" height="170" class="center"  ></div>
    <p style="color:#FF0000" align="center";><b>BOOK NOW</b></p>
    <p><i>In 2029, John Connor, head of the Resistance, is out to destroy the machines and leads the war against them. In one key battle, he is notified by his army unit that Skynet will attack on two fronts — past and future, thereby changing warfare forever.</i></p>
    <br>
    <h2><u>BLADE RUNNER 2049</u></h2>
    <h5><i>A stunning visual experience that transcends the original and presents the story as it’s truly meant to be seen.</i></h5>
    <div class="fakeimg" style="height:200px;"><img src="55.jpg" width="220" height="170" class="center"  ></div>
    <p style="color:#FF0000" align="center";><b>BOOK NOW</b></p>
    <p><i>As times are changing and films like this are becoming more widely recognized for excellence instead of just popcorn thrill rides, many elements of this film could very well capture attention of the right crowds as award season approaches.</i></p>
  </div>
</div>

<div class="footer">
  <h2>All Right Reserved ®</h2>
</div>

</body>
</html>


<app-header></app-header>